<div class="body">
  <div class="centered">
    <img id="IllustrationWindow" src="assets/IllustrationWindow.svg" />
    <div class="text">
      <ul>
        <li>
          <h1>{{ "Well Done" | translate }}!</h1>
        </li>
        <li>
          <p>{{ "Thank you for choosing STAFF TRACKER service and we wish you a pleasent work" | translate }}!</p>
        </li>
        <li>
          <shared-button class="sign-in-btn" (buttonClicked)="btnClicked()" (hoverC)="hoverC()"></shared-button>
        </li>
      </ul>
    </div>
  </div>

</div>