.title h1 {
    font-size: 28px; 
    color: #2E384D; 
    letter-spacing: 0; 
    line-height: 32px; 
    font-family: Rubik; 
    font-weight: 300; 
    text-align: left; 
    margin-bottom: 20px;
}

.card{
    width:100%;
    background-color:white;
    border: 1px solid rgba(46,91,255,0.08);
    box-shadow:0 10px 20px 0 rgba(46,91,255,0.07);
    border-radius:0px;
}

.position-form-header {
    display: flex;
    justify-content: space-between;
    padding: 32px 20px 0 24px;
}

.sub-title {
    font-size: 13px; 
    color: #8798AD; 
    letter-spacing: 1.21px; 
    font-family: Rubik; 
    font-weight: 400; 
    text-transform: uppercase; 
    text-align: left; 
}

.create-form {
    padding: 26px 24px 20px 32px;
}

.create-form p {
    font-size: 15px; 
    color: #2E384D; 
    letter-spacing: 0; 
    line-height: 22px; 
    font-family: Rubik; 
    font-weight: 400; 
    text-align: left; 
    margin-bottom: 20px;
}

.create-form .form-group {
    padding-left: -1px;
    margin-bottom: 20px;
}

.create-form .form-group label {
    font-size: 12px; 
    color: #B0BAC9; 
    letter-spacing: 1.12px; 
    font-family: Rubik; 
    font-weight: 500; 
    text-transform: uppercase; 
    text-align: left;
}

.position-form-footer {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.position-form-footer .btn-green {
    font-size: 15px; 
    color: #FFFFFF; 
    letter-spacing: 0; 
    text-align: center; 
    line-height: 21px; 
    font-family: Rubik; 
    font-weight: 500; 
    background-color:#33AC2E;
    border-radius:4px;
    border:1px solid #33AC2E;
    width:200px;
    height:50px;
}

.position-form-footer .position-back-btn {
    background-color:white;
    border: none;
    padding: 0;
    height: 50px;
    font-size: 15px; 
    color: #D63649; 
    letter-spacing: 0; 
    font-family: Rubik; 
    font-weight: 500; 
    text-align: left;
    margin-right: 31px;
    cursor: pointer;
    white-space: nowrap;
}

.position-form-footer .position-back-btn img{
    padding-right: 10px;
}

.warning-message{
    font-size: 15px;
    color: #2E384D;
    letter-spacing: 0;
    line-height: 22px;
    font-family: Rubik;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
    display: inline-block;
    align-items: center;
}

.txt-area{
    justify-content: space-between;
}

.btn-area{
    justify-content: flex-end;
}

.txt-area div:nth-child(1){
    justify-content: flex-start;
}
.txt-area div:nth-child(2){
    justify-content: center;
}
.txt-area div:nth-child(3){
    justify-content: flex-start;
}

textarea{
    background-color: rgba(224,231,255,0.15);
    border: 1px solid #E0E7FF;
    border-radius: 5px;
    font-size: 15px;
    color: #9798AD;
    width: inherit;
}

text-area-placeholder{
    width: inherit;
}
/* .form-search-icon:after {
    content: url(/assets/icons/gray_Search.svg);
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 7px;
    right: 5px;
} */

.form-search-icon-wrapper{
    position: relative;
}
.checkbox-container{
    align-items: center;
}
.checkbox-container span{
    font-size: 15px;
    color: #2E384D;
    font-weight: 500;
}
.emo-container{
    font-size: 32px;
    font-weight: bold;
    vertical-align: middle;
    position: relative;
    top: -3px;
}
.placeholder-container{
    vertical-align: middle;
}
.short-code-container{
    position: absolute;
    width: inherit;
    padding: 14px 16px 10px 5px;
}
.short-code-key{
    font-weight: 500;
    color: black;
}
@media (min-width: 600px) {
    .ticker-container .col-lg-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 770px) {
    .ticker-container .col-lg-2 {
        flex: 0 0 17.666667%;
        max-width: 17.666667%;
    }
}
.position-container{
    margin-top: -50px;
}
@media (max-width: 1010px) {
    .position-container{
        margin-top: 0px;
    }
}
