.title h1 {
  font-size: 28px;
  color: #2E384D;
  letter-spacing: 0;
  line-height: 32px;
  font-family: Rubik;
  font-weight: 300;
  text-align: left;
  margin: 0;
}

.margin-top-15 {
  margin-top: 15px;
}

.card {
  width: 100%;
  background-color: white;
  border: 1px solid rgba(46, 91, 255, 0.08);
  box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
  border-radius: 0px;
}


.form-tracking .search-input, .search-input-btn, .btn-export {
  width: 100%;
}

.btn {
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-family: Rubik;
  font-weight: 500;

  background-color: #2E5BFF;
  border-radius: 4px;
  border: 1px solid #2E5BFF;
  /* width:200px; */
  width: 100%;
  height: 40px;
}

.export-wrap {
  display: none;
  margin: 15px 34px 15px 34px;
  text-align: right;
}

.btn-export {
  background-color: #33AC2E;
  border-radius: 4px;
  border: 1px solid #33AC2E;
}

.map-container .card .card-header {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 24px;
  background-color: #ffffff;
  border-bottom: 0;
}

.map-container .card .card-header h3 {
  font-size: 13px;
  color: #8798AD;
  letter-spacing: 1.21px;
  font-family: Rubik;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  padding-top: 4px;
  margin-bottom: 0px;
}

.map-container .card .card-header img.close-icon {
  cursor: pointer;
}

.map-container .card .card-header .list-title {
  display: flex;
}

.list-title img {
  margin-right: 10px;
}

.map-container .map-content {
  height: auto;
  position: relative;
  margin-top: 24px;
}

.map-content .event-container {
  position: absolute;
  background-color: #ffffff;
  z-index: 100;
  width: 72px;
  left: 0;
  top: 0;
  padding: 20px 20px 0 20px;
  height: calc(100% - 60px);
  overflow-y: auto;
}

.map-content .event-container::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.event-container .event-icon {
  /* background: rgba(11,107,242,0.15); */
  padding: 7px;
  width: 32px;
  height: 32px;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}

.event-container .event-item:first-child .event-icon, .event-container .event-item:last-child .event-icon {
  background: rgba(51, 172, 46, 0.2) !important;
}

.event-container .event-item:not(:first-child):not(:last-child) .event-icon {
  background: rgba(11, 107, 242, 0.2) !important;
}

.event-container .event-item:first-child .event-icon span, .event-container .event-item:last-child .event-icon span {
  width: 16px;
  height: 16px;
  background: transparent url(/assets/icons/green_checkout.svg) no-repeat 0 0;
  background-size: 16px;
  pointer-events: none;
}

.event-container .event-item .event-icon span {
  width: 16px;
  height: 16px;
  background: transparent url(/assets/icons/blue_navigate.svg) no-repeat 0 0;
  background-size: 16px;
  pointer-events: none;
}

.event-container .event-item {
  position: relative;
  margin-bottom: 15px;
}

.event-container .event-item:last-child {
  position: relative;
  margin-bottom: 12px;
}

/*.event-container .event-item .event-detail {*/
/*  display: none;*/
/*}*/

/*!* on hover show/expand event detail  *!*/
/*.event-container .event-item .event-icon:hover + .event-detail {*/
/*  display: flex;*/
/*  width: 240px;*/
/*}*/


.event-detail {
  z-index: 111111;
  position: absolute;
  background: #ffffff;
  width: 240px;
  transition: width 0.25s;
  -webkit-transition: width 0.25s;
  -moz-transition: width 0.25s;
  top: 71px;
  left: 72px;

  padding: 16px 16px 16px 0;
  display: flex;
  justify-content: space-between;
}

.event-detail .event-name {
  font-size: 15px;
  color: #2E384D;
  letter-spacing: 0;
  line-height: 22px;
  font-family: Rubik;
  font-weight: 400;
  text-align: left;
}

.event-detail .event-time {
  font-size: 15px;
  color: #8798AD;
  letter-spacing: 0;
  text-align: right;
  line-height: 22px;
  font-family: Rubik;
  font-weight: 400;
}

.event-container .event-icon img {
  width: 16px;
  height: 16px;
}

@media (min-width: 992px) {
  .form-tracking .search-input {
    max-width: 320px;
    margin-right: 20px;
  }

  .search-input-btn, .btn-export {
    max-width: 200px;
    /*margin-left: auto;*/
  }
}

@media (min-width: 616px) and (max-width: 991px) {
  .form-tracking {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form-tracking .search-input {
    margin-right: 0;
    width: 48%;
  }

  .search-input-btn, .btn-export {
    width: 48%;
    margin-left: 52%;
  }
}

@media (max-width: 615px) {
  .form-tracking {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .search-input, .search-input-btn, .btn-export {
    width: 100%;
  }
}

.dh-map-wrapper {
  height: auto;
}

.search-wrapper {
  position: relative;
}

.dh-search-form-wrapper {
  background-color: rgba(255, 255, 255, 1.0);
  z-index: 9;
  position: absolute;
  /*top:76px;*/
  width: 100%;
  height: auto;

}

.box-shadow {
  -webkit-box-shadow: 0 5px 20px 0 rgba(121, 136, 190, 0.3);
  -moz-box-shadow: 0 5px 20px 0 rgba(121, 136, 190, 0.3);
  box-shadow: 0 5px 20px 0 rgba(121, 136, 190, 0.3);
}

.show-hide-label label, .hidden-search-form label {
  font-size: 12px;
  color: #B0BAC9;
  letter-spacing: 1.12px;
  text-align: right;
  font-family: Rubik;
  font-weight: 500;
  text-transform: uppercase;
}


.hidden-search-form {
  width: 90%;
  float: left;
  padding: 10px 20px 0px 5px;
}

.hidden-search-form label {
  width: 100%;
  justify-content: left;
  margin-bottom: 5px;
}

.hidden-search-form input {
  border: none;
  border-radius: 5px;
  height: 40px;
  font-size: 15px;
  color: #2E384D;
  letter-spacing: 0;
  font-family: Rubik;
  font-weight: 400;
  text-align: left;
  width: 94%;
}

.hidden-search-form .form-group {
  padding-bottom: 10px;
}


.form-inline {
  width: 100%;
  padding: 0px 40px;
}

.show-hide-label {
  position: absolute;
  text-align: right;
  right: 0;
  padding-right: 20px;
}

.show-hide-label label {
  margin-bottom: 0px;
  cursor: pointer;
}

.show-hide-label img {
  cursor: pointer;
}

.form-search-icon-wrapper {
  position: relative;
  width: 100%;
  max-width: 320px;
}

.array-down {
  transform: rotate(180deg);
}

.btn-search {
  margin-top: 21px;
}

.btn-search:disabled {
  background-color: #8798AD;
  cursor: default;
  /*pointer-events: none;*/
  border: 1px solid #8798AD;
}

.top-61 {
  top: 61px !important;
}

.height-plus-60 {
  height: 100% !important;
}

.verticle-line {
  border-left: solid 2px rgba(46, 91, 255, 0.15);
  top: -16px;
  right: 14px;
  position: absolute;
  height: 17px;
}
