.title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title .title-wrap {
  display: flex;
  align-items: baseline;
}

.title h1 {
  font-size: 28px;
  color: #2E384D;
  letter-spacing: 0;
  line-height: 32px;
  font-family: Rubik;
  font-weight: 300;
  text-align: left;
}

.title .list-count {
  padding-left: 10px;
  font-size: 15px;
  color: #8798AD;
  letter-spacing: 0;
  line-height: 22px;
  font-family: Rubik;
  font-weight: 400;
  text-align: left;
}

.btn {
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-family: Rubik;
  font-weight: 500;
  background-color: #2E5BFF;
  border-radius: 4px;
  border: 1px solid #2E5BFF;
  width: 200px;
  height: 40px;
}

.btn-add {
  float: right;
}

.btn-add .btn-add-content {
  margin-left: 6px;
  float: left;
}

.btn span {
  padding-left: 20.5px;
  color: #FFFFFF;
}

.card {
  width: 100%;
  background-color: white;
  border: 1px solid rgba(46, 91, 255, 0.08);
  box-shadow: 0 10px 20px 0 rgba(46, 91, 255, 0.07);
  border-radius: 0px;
}

.geozone-search h3 {
  font-size: 13px;
  color: #8798AD;
  letter-spacing: 1.21px;
  font-family: Rubik;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  padding: 32px 24px 24px 24px;
  margin: 0;
}

.geozone-search .form-group {
  padding: 0 30px 20px 30px;
  margin-bottom: 0;
}

.geozone-search .form-group label {
  font-size: 15px;
  color: #2E384D;
  letter-spacing: 0;
  line-height: 22px;
  font-family: Rubik;
  font-weight: 400;
  text-align: left;
  margin-bottom: 7px;
}

.geozone-table thead tr th label {
  font-size: 12px;
  font-family: Rubik;
  color: #BFC5D2;
  letter-spacing: 1.12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

.tbl-lbl-geozone-name {
  float: left;
  margin-right: 10px;
}

.geozone-search .btn-search {
  width: 100%;
  margin: 0px 0px 11px 0px;
}

.panel-close {
  float: right;
}

.panel-close img {
  margin-top: 28px;
  cursor: pointer;
}

.panel-close {
  content: url(/assets/icons/closeX.svg);
  float: right;
  width: auto;
  position: absolute;
  right: 24px;
  top: 27px;
  cursor: pointer;
}
.geozone-content {
  margin-top: 18px;
}

.geozone-empty {
  height: Calc(100vh - 247px);
  margin-top: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.geozone-empty p {
  font-size: 15px;
  color: #8798AD;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  font-family: Rubik;
  font-weight: 400;
  margin-top: 36px;
  margin-bottom: 28px;
}

.geozone-empty p span {
  font-weight: 700;
}

.geozone-table-container {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .geozone-table-container table thead tr th:last-child {
    width: 118px;
    display: block;
  }
}


.geozone-table {
  width: 100%;
}

.geozone-table thead tr th {
  font-size: 12px;
  color: #BFC5D2;
  letter-spacing: 1.12px;
  font-family: Rubik;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  /*padding-bottom: 10px;*/
}

.geozone-table thead tr th:nth-child(1) {
  padding-left: 24px;
  width: 45%;
}

.geozone-table thead tr th:nth-child(2) {
  text-align: center;
  width: 15%;
}

.geozone-table tbody tr {
  height: 73px;
  border-bottom: 10px solid #eef3f5;
}

.geozone-table tbody tr td {
  background-color: white;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;

  font-size: 15px;
  color: #2E384D;
  letter-spacing: 0;
  font-family: Rubik;
  font-weight: 400;
}

.geozone-table .geo-info-list {
  list-style: none;
  list-style-position: inside;
  margin-bottom: 0px;
}

.geozone-table .geo-info-list li:first-child {
  font-size: 15px;
  color: #2E384D;
  letter-spacing: 0;
  font-family: Rubik;
  font-weight: 500;
  text-align: left;
}

.geozone-table .geo-info-list li:last-child {
  font-size: 15px;
  color: #8798AD;
  letter-spacing: 0;
  line-height: 22px;
  font-family: Rubik;
  font-weight: 400;
  text-align: left;
}

.geozone-table tbody tr td .td_radius {
  text-align: center;
  line-height: 22px;
}

.geozone-table tbody tr td .td_radius img {
  margin-right: 10px;
}

.avatar-image {
  width: 40px;
  height: 40px;
}

.avatar {
  height: 40px;
  width: 40px;
  background: #EEF3F5;
  border-radius: 20px;
  margin-right: 12px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  float: left;
}

.avatar img {
  margin: 10px;
}

.geozone-table .geozone-action-btn {
  cursor: pointer;
  float: right;
}

table tbody tr .td_action {
  display: flex;
  justify-content: flex-end;
}

.expand {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-right: 30px;
}

.expand p {
  font-size: 12px;
  color: #B0BAC9;
  letter-spacing: 1.12px;
  text-align: center;
  font-family: Rubik;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #F4F6FC;
  white-space: nowrap;
  padding: 3px 17px;
  cursor: pointer;

}

.expand hr {
  width: 100%;
  margin-top: 12px;
  border: 0;
  border-top: 1px solid #BFC5D2;
}

@media (max-width: 1100px) {
  .geozone-tbl-wrapper {
    max-width: 100% !important;
    flex: 0 0 100% !important;
  }

  .geozone-search {
    margin-top: 34px;
  }

  .form-geozone-search {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 0 30px;
  }

  .geozone-search .form-group {
    padding: 0 0 34px 0;
  }

  .search-input {
    width: 31%;
  }

  .geozone-content {
    margin-top: 25px;
  }
}

@media (max-width: 992px) and (min-width: 616px) {
  .search-input {
    width: 48%;
  }

  .search-input:last-child {
    width: 100%;
    margin-left: 52%;
  }
}

@media (max-width: 615px) {
  .search-input {
    width: 100%;
  }
}

.form-search-icon-wrapper, button {
  max-width: 320px;
}

/*@media (max-width: 570px) {*/
/*    .btn-add{*/
/*        margin-left: auto;*/
/*    }*/
/*}*/

@media (max-width: 625px) {
  .geozone-table thead tr th:last-child {
    width: 120px;
    display: block;
  }
}


.geozone-table-container::-webkit-scrollbar {
  height: 4px;
  background-color: #F5F5F5;
}

.geozone-table-container::-webkit-scrollbar-thumb {
  background-color: #95a1b282;
}

.geozone-table-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.12);
  background-color: #f5f5f5;
}

.check-box-toolpit {
    position: relative;
    top: 35px;
    right: 85px;
}
