<div class="login-form">
    <div class="col-sm-12">
        <h1 class="sign-in-form-title">{{"Sign in to Staff Tracker" | translate}}</h1>
        <p class="sign-in-tag">{{"Please enter your MSISDN to proceed" | translate}}</p>
    </div>

    <div class="col-xl-12 col-lg-12 col-sm-12 sign-in-form-wrapper">
        <form class="sign-in-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group custom-width">
                <label for="phone-number">{{"Phone number" | translate}}</label>
                <input id="phone-number" class="form-control" formControlName="phone_number" />
                <span invalidMessage [control]="loginForm.controls.phone_number"
                    [invalidMessages]="errorMessagePhone"></span>

            </div>

            <div class="form-group custom-width">
                <label for="password">{{ "Password" | translate}}</label>
                <span><a tabindex="-1" href="#" class="label-forgot-password" utooltips
                        [message]="resetPasswordMessage">{{ "Forgot Password?" | translate }}</a></span>
                <input id="password" class="form-control" type="password" formControlName="password" />
                <span invalidMessage [control]="loginForm.controls.password"
                    [invalidMessages]="errorMessagePassword"></span>
            </div>

            <div class="form-group custom-width">
                <button type="submit" class="sign-in-btn">{{ "Sign in" | translate }}</button>
                <span class="no-account-tag">{{ "Don't have an account?" | translate }} </span><a href="sign-up"
                    class="sign-up-link">
                    {{ "Sign up" | translate }}</a>
            </div>
        </form>
        <!-- <div *ngIf="errorMessage" class="invalid-container">
            <div *ngIf="errorMessage">{{errorMessage|translate}}</div>
        </div> -->
        <div class="language">
            <language-selector></language-selector>
            <!-- <label>{{ "Want to change language?" | translate }}</label>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item active" [ngClass]="{'active':selectedLanguage == 'En'}"
                    (click)="languageChanges('En' , $event)">English</li>
                <li class="list-group-item" [ngClass]="{'active':selectedLanguage == 'Ru'}"
                    (click)="languageChanges('Ru' , $event)">Русский</li>
                <li class="list-group-item" [ngClass]="{'active':selectedLanguage == 'Fr'}"
                    (click)="languageChanges('Fr' , $event)">Français</li>
            </ul> -->
        </div>

    </div>
</div>