.list-group-item {
    background: #F4F6FC;
    border-color:#EEF3F5;
    border: 1px;
    border-radius: 5px;
    padding: 5px 20px;

    font-size: 15px; 
    color: #B0BAC9; 
    letter-spacing: 0; 
    font-family: Rubik; 
    font-weight: 400; 
    text-align: left; 
}

.list-group-item.active {
    color: #2E5BFF; 
}

.list-group-item:first-child{
    padding-left:32px;
}

.list-group-item:last-child{
    padding-right:32px;
}

label{
    font-size: 12px; 
    color: #B0BAC9; 
    letter-spacing: 1.12px; 
    font-family: Rubik; 
    font-weight: 500; 
    text-transform: uppercase; 
    text-align: left;
}